@import "tailwindcss";

@theme {
  --color-boston-blue-50: #eefafd;
  --color-boston-blue-100: #d5f1f8;
  --color-boston-blue-200: #b0e3f1;
  --color-boston-blue-300: #7acee6;
  --color-boston-blue-400: #3db0d3;
  --color-boston-blue-500: #2194ba;
  --color-boston-blue-600: #1e769c;
  --color-boston-blue-700: #1f607f;
  --color-boston-blue-800: #225068;
  --color-boston-blue-900: #204359;
  --color-boston-blue-950: #102b3c;
}

.btn-primary {
  background: linear-gradient(90deg, #7acee6, #2194ba, #1f607f);
  border-color: linear-gradient(90deg, #7acee6, #2194ba, #1f607f);
  border-width: 1px;
  border-style: solid;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
}
.btn-primary:hover {
  background: linear-gradient(180deg, #1f607f, #2194ba, #7acee6);
  border-color: linear-gradient(180deg, #1f607f, #2194ba, #7acee6);
  border-width: 1px;
  border-style: solid;
}
